<mat-form-field class="drop-down-list">
    <mat-label>Order by</mat-label>
    <mat-select [(value)]="orderBySelected" (selectionChange)="onOrderChange()">
      <mat-option value="title">Title</mat-option>
      <mat-option value="ratingAsc">Rating (ascending)</mat-option>
      <mat-option value="ratingDesc">Rating (descending)</mat-option>
    </mat-select>
  </mat-form-field>