<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/login"  *ngIf="!isAuth">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/register" routerLinkActive="active" *ngIf="!isAuth">
          <mat-icon>input</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item routerLink="/textmaterials" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>Text materials</span>
        </button>

        <button mat-menu-item routerLink="/authors" routerLinkActive="active">
          <mat-icon>add</mat-icon>
          <span>Authors</span>
        </button>
        <button mat-menu-item routerLink="/genres" routerLinkActive="active">
          <mat-icon>add</mat-icon>
          <span>Genres</span>
        </button>
        
        <button mat-menu-item routerLink="/logout" routerLinkActive="active" *ngIf="isAuth" (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Card File</span>
  </mat-toolbar>