/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card{
    min-height: 100%;
}
.add-button{
    margin: 10px 10px 0 0 !important;
}
.pageTitle{
    text-align: center;
}
.linkToTexts{
    text-decoration: underline;
    color: whitesmoke;
}
.linkToTexts:hover{
    font-size: large;
    color: whitesmoke;
}