<mat-card>
  <div>
  <mat-card-content>
    <h2> Add new author</h2>
    <form [formGroup]="form" (ngSubmit)="addAuthor()">
      <mat-error *ngIf="error!=''">
        {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="name"
             type="text"
             required
             placeholder="Author name">
             <mat-error>
              Please provide a valid author name
            </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="surname"
               type="text"
               required
               placeholder="Author surname">
               
               <mat-error>
                Please provide a valid author surname
              </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button class="add-button" color="primary" type="submit">Add</button>
        <button mat-raised-button class="add-button" color="primary" routerLink="/authors">All authors</button>
    </form>
    <h3>{{resultStr}}</h3>
  </mat-card-content>
</div>
</mat-card>