<mat-card >
    <mat-card-content>
      <h2 class="pageTitle"> Add new text</h2>
      <form [formGroup]="form1" (ngSubmit)="addText()">
        <mat-error *ngIf="addError!=''">
          {{addError}}
        </mat-error>
        <mat-form-field class="full-width-input titleInput">
        <input matInput formControlName="title"
               type="text"
               required
               placeholder="Title">
               <mat-error>
                Please provide a valid title
              </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input bodyInput">
          <textarea  matInput formControlName="body"
                 type="text"
                 required
                 placeholder="Text">
          </textarea>
                 <mat-error>
                  Please provide a valid text
                </mat-error>
          </mat-form-field>
          <br>
      </form>
          <form [formGroup]="form2" (ngSubmit)="addText()">
          <h3>Authors:</h3>
            <label formArrayName="authors" *ngFor="let author of authItems.controls; let i = index">
              <input class="chckbox" type="checkbox" [formControlName]="i">
              {{authorOptions[i].name}} {{authorOptions[i].surname}}
              <br>
            </label>

            <h3>Genres:</h3>
            <label formArrayName="genres" *ngFor="let genre of genreItems.controls; let i = index">
              <input class="chckbox" type="checkbox" [formControlName]="i">
              {{genreOptions[i].name}}
              
            </label>
            <br>
          <button mat-raised-button class="add-button" color="primary" type="submit" >Add new text</button>
          <button mat-raised-button class="add-button" color="primary" routerLink="/textmaterials">All texts</button>
      </form>
      <h3>{{resultStr}}</h3>
    </mat-card-content>
    </mat-card>