
<mat-card>
    <mat-card-title class="pageTitle">Text materials</mat-card-title>
    <app-order-by-list id="order-list" (onChanged)="onChanged($event)" *ngIf="texts.length > 0"></app-order-by-list>
    <button mat-raised-button class="add-button" color="primary" routerLink="/addtextmaterial"  *ngIf="roles.indexOf('Admin') > -1">Add new text</button>
  <mat-list>
   <mat-list-item class="textMatItem" *ngFor="let text of texts | sort:orderBy:order">
     <div>
   {{text.title}}
   <br><br>
   {{text.body}}
   <br><br>
   <div>
     <app-star-rating [chosen]="text" (click)="onStarClick()"></app-star-rating>
  </div>
   <br>
   Rating: {{text.rating}}/10
   <button mat-raised-button id="deleteButton" color="primary" (click)="onDelete(text)" *ngIf="roles.indexOf('Admin') > -1">Delete</button>
  </div>
   </mat-list-item>
  </mat-list>
  </mat-card> 
