.textMatItem{
    height: auto !important;
    border: solid 1px whitesmoke;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    align-self:centre;
}

#order-list{
    margin-right: 10px;
}
#deleteButton{
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}