<mat-card>
<div>
    <mat-card-content>
      <h2> Add new genre</h2>
      <form [formGroup]="form" (ngSubmit)="addGenre()">
        <mat-error *ngIf="error!=''">
          {{error}}
        </mat-error>
        <mat-form-field class="full-width-input">
        <input matInput formControlName="name"
               type="text"
               required
               placeholder="Genre name">
               <mat-error>
                Please provide a valid genre name
              </mat-error>
        </mat-form-field>
          <br>
          <button mat-raised-button class="add-button" color="primary" type="submit">Add</button>
          <button mat-raised-button class="add-button" color="primary" routerLink="/genres">All genres</button>
      </form>
      <h3>{{resultStr}}</h3>
    </mat-card-content>
  </div>
</mat-card>