
<mat-card>
    <mat-card-title class="pageTitle">Genres</mat-card-title>
    <button mat-raised-button class="add-button" color="primary" routerLink="/addgenre"  *ngIf="roles.indexOf('Admin') > -1">Add new genre</button>
  <mat-list class="list">
   <mat-list-item *ngFor="let genre of genres" >
    <div class="listItem1">
   <a (click)="onSelect(genre)">{{genre.name}}</a>
    </div>
   <button mat-raised-button id="deleteButton" color="primary" (click)="onDelete(genre)" *ngIf="roles.indexOf('Admin') > -1">Delete</button>
   </mat-list-item>
  </mat-list>
  </mat-card> 