<mat-card>
    <mat-card-title class="pageTitle">Authors</mat-card-title>
    <button mat-raised-button class="add-button" color="primary" routerLink="/addauthor" *ngIf="roles.indexOf('Admin') > -1">Add new author</button>
  <mat-list class="list">
   <mat-list-item class="text"  *ngFor="let author of authors">
     <div class="listItem1">
   <a (click)="onSelect(author)">{{author.name}} {{author.surname}}</a>
  </div> 
   <button mat-raised-button id="deleteButton" color="primary" (click)="onDelete(author)" *ngIf="roles.indexOf('Admin') > -1">Delete</button>
  </mat-list-item>
  </mat-list>
  </mat-card>