<mat-card>
    <mat-card-title class="pageTitle">Text materials</mat-card-title>
    <h3>{{noTexts}}</h3>
    <app-order-by-list (onChanged)="onChanged($event)" *ngIf="textsWithAuthor.length > 0"></app-order-by-list>
  <mat-list >
   <mat-list-item class="texts" *ngFor="let text of textsWithAuthor | sort:orderBy:order">
     <div>
   {{text.title}}
   <br><br>
   {{text.body}}
   <br><br>
   <div>
    <app-star-rating [chosen]="text" (click)="onStarClick()"></app-star-rating>
    </div>
    <br><br>
   Rating: {{text.rating}}/10
   <br><br>
  </div>
   </mat-list-item>
  </mat-list>
  </mat-card> 
